body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
    font-family: 'Inter';
    font-weight: 100;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.tasks-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-header {
    margin-bottom: 5px;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.tasks-remaining {
    margin-top: 0;
    color: #757575;
}

.search-container {
    display: flex;
    flex-direction: row;
    background-color: white;
    max-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.search-bar {
    flex-grow: 1;
    margin: 5px;
    background-color: #F5F5F5;
    border: 0;
    border-radius: 5px;
    padding: auto;
}

.add-button {
    margin: 7px;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 9px;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 20px;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 10px;
}

.no-tasks {
    color: #BDBDBD;
    padding: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    box-sizing: border-box;
    min-height: 30px;
    padding: 10px;
}

.checkbox {
    flex-shrink: 0;
    margin-top: 4px;
    border-radius: 10px;
}

.label {
    flex: 1;
    min-width: 0;
    word-break: break-all;
    overflow-wrap: break-word;
    text-align: left;
    
}

.delete-button {
    display: flex;
    background-color: red;
    margin-left: auto;
    border-radius: 10px;
}